# Entorno virtual
venv/
env/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db 